.relative-position{


}
html, body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.box-model{
    background-color: aquamarine;
    padding: 10px;
    margin: 15px;
    border: solid 15px;
}
