.relative-pos{
    background-color: aqua;
    position: relative;
    left: 50px;
    top: 50px;
    z-index: 3;
}
.relative-pos1{
    background-color:greenyellow;
    position: relative;

    z-index: 2;
}
.relative-pos2{
    background-color:blue;
    position: relative;
    left: 50px;
    top: 50px;
    z-index: 1;
}

.div-pos{
    margin: 100px;
    border: 2px solid goldenrod;
    width: 500px;
    height: 400px;

}

.abs-pos{
    position: relative;
    left: 50px;
    top: 50px;
}
.fixed-pos{
    position: fixed;
    top: 500px;
}

.sticky-pos{
    position: sticky;
    top: 100px;

}