nav{
    display: flex;
    list-style-type: none;
    justify-content:space-evenly;
    background-color: black;
    padding: 20px;
    font-size: larger;
}

.link{
    color: white;
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
}
.link:hover{
    background-color: gray;
}
body{
    margin: 0;
}